Unit]
Description=RMQ Startup
After=network.target
StartLimitIntervalSec=0

[Service]
Restart=always
User=cvarkey
ExecStart=/usr/bin/php home/cvarkey/GitGood/Backend/testRabbitMQServer.php


[Install]
WantedBy=multi-user.target