[Unit]
Description=RMQ Server Startup
StartLimitIntervalSec=9

[Service]
Restart=always
RestartSec=9
ExecStart=/usr/bin/php /var/www/The_Project/logserver.php


[Install]
WantedBy=multi-user.target
